.header{
    text-align: center;
    background-color: black;
    color: wheat;
}

.hoverDiv{
    text-align: center;
    background: white;
}

.hoverDiv:hover{
    background: #dddddd;
}

.alignTextCenter{
    text-align: center;
}

.inLine{
    display: inline-block;
    text-align: center;
    width: 30%;
}

.mainRow{
    text-align: center;
}

.error{
    color: red;
}



