.header{
    text-align: center;
    background-color: black;
    color: wheat;
    font-family: Centaur;
}

img{

    border-radius: 20%;
}

.navbar{

    font-size: 17px;
}

.enlarge_on_hover:hover{
    transform: scale(1.5);

}

/*.blue-background{
    background-color: blanchedalmond;
}*/

#description-extension-details{
    font-size: 35px;
    color: darkblue;
    font-family: Centaur;
}

#tags-extension-details{
    font-size: 25px;
    color: crimson;
    font-family: Centaur;
}

#navbar-title{
    font-style: italic;
    font-size: 25px;
}

.approve-button{
    color: green;
}

.extension-details-list{
    list-style: none;
}

.hoverDiv{
    text-align: center;
    background: white;
}

.hoverDiv:hover{
    background: #dddddd;
}

.alignTextCenter{
    text-align: center;
}

.inLine{
    display: inline-block;
    text-align: center;
    width: 30%;
}

.mainRow{
    text-align: center;
}

.error{
    color: red;
}

.userPic{
    padding-left: 20px;
}

.editExtension{
    color: green;
}

.link-block{

    color: lightslategray;
    text-decoration: none;
}
.glyphicon-download-alt{
    text-align: right;
}

.col-sm-6{
    font-size: 12px;
}
/* SEARCH */
.input-group{

    margin: 30px;
    max-width: 30%;
    float: right;

}
/*BUTTONS*/

.button {
    background-color: transparent;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 10px 30px 8px;
    font-size: 16px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 1;
}
.button:hover{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.button-neutral{
    color: #000;
    border-color: #000;
}
.button-neutral:hover{
    color: #fff;
    background-color: #000;
}

.button-primary{
    color: #79ea13;
    border-color: #79ea13;
}
.button-primary:hover{
    color: #fff;
    background-color: #79ea13;
}
.home-buttons{
    padding: 40px;
}

/* Feature-CSS */

.icon {
    padding:5px;
    text-align: center;
}
.icon img{
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
}
.feature-box {
    padding: 10px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}
.feature-box:hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {

    font-family: "Gill Sans", sans-serif;
    color: black;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin: 15px 0 5px;
}



