<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: header">
</div>

<h1>ADMINISTRATION PAGE</h1>

<a th:href="@{/}"><button>HOME</button></a>

<a th:href="@{/admin/refreshGit}"><button>Refresh all Git Info</button></a>

<p th:text="'Last successful sync: '+${adminInfo.getLastSuccessfulSync()}"></p>

<h2>For Approval:</h2>


<div class="inLine">

<div th:each="Extension : ${extensions}">

<a th:href="'/extension-details/'+${Extension.getId()}"><p th:text="${Extension.getName()}"></a>  --> <a th:href="'/admin/approve/'+${Extension.getId()}">approve</a></p>

</div>

</div>

<h2>Users: </h2>

<div class="inLine">

<div th:each="User : ${users}">

<p style="display: inline" th:text="${User.getName()}"></p> <p style="display: inline" th:text="' status: ' + ${User.getStatus()}"></p>
<a th:if="${User.getStatus() == 'Enabled'}" th:href="'/admin/disable-user/' + ${User.getName()}">Disable</a> <a th:unless="${User.getStatus() == 'Enabled'}" th:href="'/admin/enable-user/' + ${User.getName()}">Enable</a>


</div>

</div>


</body>
</html>