<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/createExtension.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>

<div th:replace="fragments :: header">
</div>

<div class="container">
    <h1 class="well">Create Extension</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form th:action="@{/user/create-extension}" th:object="${extensionForm}" method="post" enctype="multipart/form-data">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Name</label>
                            <input type="text" th:field="*{name}" placeholder="Enter Name Here.." class="form-control">
                            <p class="error" th:each="error : ${#fields.errors('name')}"
                               th:text="${error}">Validation error
                            </p>
                        </div>

                        <label>Upload Logo</label>
                        <div class="input-group">
                            <input type="text" class="form-control file-upload-text" disabled
                                   placeholder="select a file..."/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-success file-upload-btn">
                             Browse...
                            <input type="file" class="file-upload" name="file"/>
                            </button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea th:field="*{description}" placeholder="Enter Description Here.." rows="6" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Version</label>
                        <input type="text" th:field="*{version}" placeholder="Enter Version Here.." class="form-control">
                    </div>
                    <div class="form-group">
                        <label>GitHub Repository Link</label>
                        <input type="text" th:field="*{githubLink}" placeholder="Enter Repository Link Here.." class="form-control">
                        <p class="error" th:each="error : ${#fields.errors('name')}"
                           th:text="${error}">Validation error
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <input type="text" th:field="*{tags}" placeholder="Enter Tags Here.." class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Upload Extension File Here</label>
                        <div class="input-group">
                            <input type="text" class="form-control file-upload-text" disabled placeholder="select a file..." />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger file-upload-btn">
                                    Browse...
                                <input type="file" th:field="*{commonsMultipartFile}" class="file-upload" name="file" />
                                    <p class="error" th:if="${fileError} == true" th:text="'File is Required'"></p>
                                </button>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-info">Publish
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<a th:href="@{/}">home</a>-->
<!--<div class="alignTextCenter">-->
<!--<h1>Create Extension:</h1>-->

<!--<form action="#" th:action="@{/user/create-extension}" th:object="${extensionForm}" method="post" enctype="multipart/form-data">-->
<!--<p>Name: <input type="text" th:field="*{name}" /></p>-->
<!--<p class="error" th:each="error : ${#fields.errors('name')}"-->
<!--th:text="${error}">Validation error-->
<!--</p>-->


<!--<p>Description: <input type="text" th:field="*{description}" /></p>-->

<!--<p>Version: <input type="text" th:field="*{version}" /></p>-->

<!--<p>Tags: <input type="text" th:field="*{tags}" /></p>-->

<!--<p>Github link: <input type="text" th:field="*{githubLink}" /></p>-->
<!--<p class="error" th:each="error : ${#fields.errors('name')}"-->
<!--th:text="${error}">Validation error-->
<!--</p>-->

<!--<p>Attach File: <input  type="file" th:field="*{commonsMultipartFile}" name="file"/></p>-->
<!--<p class="error" th:if="${fileError} == true" th:text="'File is Required'"></p>-->

<!--<p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>-->

<!--</form>-->

<!--</div>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>