<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
</head>
<body>

<div class="header">
<h1>WELCOME TO EXTENSION MARKET</h1>
</div>

<h1>EDIT EXTENSION</h1>

<a th:href="@{/}"><button>HOME</button></a>

<a th:href="'/edit-file/' + ${extension.getName()}"><button>Upload File</button></a>

<div sec:authorize="hasRole('ROLE_USER')">
<p th:if="${#authentication.getPrincipal().getUsername()} == ${extension.getOwner()}"><a th:href="'/delete-extension/'+${extension.getName()}"><button>Delete Extension</button></a></p>
   <div th:unless="${#authentication.getPrincipal().getUsername()} == ${extension.getOwner()}">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/admin/delete-extension/'+${extension.getName()}"><button>Delete Extension</button></a>
   </div>
</div>

<hr>
<p th:text="'Owner:  ' + ${extension.getOwner()}"></p>
<p th:text="'Version:  ' + ${extension.getVersion()}"></p>
<p th:text="'Description:  ' + ${extension.getDescription()}"></p>
<p th:text="'Downloads:  ' + ${extension.getNumberOfDownloads()}"></p>
<p th:text="'Tags:  ' + ${extension.getTags()}"></p>
<p th:text="'Uploaded on:  ' + ${extension.getUploadDate()}"></p>
<p th:text="'Featured:  ' + ${extension.isItFeatured()}"></p>



</body>
</html>