<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: header">
</div>

<div class="alignTextCenter">

    <h1>EDIT EXTENSION</h1>

    <div>
    <div class="container">

        <h1 th:text="'Name:  ' + ${extension.getName()}"></h1> <a class="editExtension" id="showEditName"
                                                                          href="#"><strong>Edit</strong></a>
            <form id="editNameForm" th:action="'/user/edit-extension/name/change/' + ${extension.getId()}" method="post">
                <input type="text" name="name" placeholder="New Name">
                <input type="submit" value="Submit"/>
            </form>
        <div class="row">
            <div class="col-md-12">
                <img th:if="${logo == null}" style='float:left;width:300px;height:360px; margin-right:30px;' src="/pics/icons/MPIcon.png" />
                <img th:unless="${logo == null}" style='float:left;width:300px;height:360px; margin-right:30px;' th:src="*{'data:image/png;base64,'+logo}" />


                  <div style="margin-top: 30px; text-align: left">
                  <p id="description-extension-details">Description</p>
                  <p th:text="${extension.getDescription()}"></p>
                  <a class="editExtension" href="#" id="showEditDescription"><strong>Edit</strong></a><br>
                      <form id="editDescriptionForm" th:action="'/user/edit-extension/descr/change/' + ${extension.getId()}"
                            method="post">
                          <textarea type="text" placeholder="Type in new description..." name="content" rows="5" cols="40"></textarea>
                          <input type="submit" value="Submit"/>
                      </form>
                  </div>


                  <div style="margin-top: 30px; text-align: left">
                                    <span  id="description-extension-details">Tags: <a th:each="Tags : ${tags}"> <a th:text="${Tags.getName()}" style="margin-right: 15px" id="tags-extension-details" th:href="'/tags/searchByName/'+${Tags.getNameNoHashTag()}"></a> </a></span>
                                     <p><a class="editExtension" id="showEditTags" href="#" ><strong>Edit</strong></a><br></p>
                                        <form id="editTagsForm" th:action="'/user/edit-extension/tag/change/' + ${extension.getId()}" method="post">
                                            <input type="text" name="content" placeholder="Type your tags with space...">
                                            <input type="submit" value="Submit"/>
                                        </form>

                    </div>
                  </div>
    </div>
    </div>

    <br><br>


     <div class="container">
        <a class="buttons-edit-extension" th:href="'/edit-file/' + ${extension.getName()}">
            Upload File
        </a>

        <a class="buttons-edit-extension" th:href="'/delete-extension/'+${extension.getId()}">
                     Delete Extension
        </a>

        <a class="buttons-edit-extension" sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/admin/refreshGit/' + ${extension.getId()}">Refresh Git Info</a>

        <a href="#" class="buttons-edit-extension" id="showExtensionsLogoForm">Change Logo</a>

                      <form id="extensionLogoForm" th:action="@{/user/changeExtensionLogo/{path}(path=${extension.getId()})}" enctype="multipart/form-data" method="post">
                          <p >Attach File: <input type="file" name="fileUpload" size="50" /></p>
                          <input type="submit" value="Submit" />
                      </form>

        <a sec:authorize="hasRole('ROLE_ADMIN')" class="buttons-edit-extension" th:if="${extension.getFeatured() == 0}" th:href="'/admin/feature/'+${extension.getId()}">Feature this Extension<br></a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="buttons-edit-extension" th:if="${extension.getFeatured() == 1}" th:href="'/admin/un-feature/'+${extension.getId()}">Unfeature this Extension<br></a>

        </div>


    <br>







    <!--
    <a th:href="@{/}">
        <button>HOME</button>
    </a>

    <a th:href="'/edit-file/' + ${extension.getName()}">
        <button>Upload File</button>
    </a>

    <div sec:authorize="hasRole('ROLE_USER')">
        <p th:if="${#authentication.getPrincipal().getUsername()} == ${extension.getOwner()}"><a
                th:href="'/delete-extension/'+${extension.getId()}">
            <button>Delete Extension</button>
        </a></p>
        <div th:unless="${#authentication.getPrincipal().getUsername()} == ${extension.getOwner()}">
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/admin/delete-extension/'+${extension.getId()}">
                <button>Delete Extension</button>
            </a>
        </div>
    </div>


    <hr>
    <span th:text="'Name:  ' + ${extension.getName()}"></span> <a class="editExtension" id="showEditName"
                                                                  href="#">Edit</a>
    <form id="editNameForm" th:action="'/user/edit-extension/name/change/' + ${extension.getId()}" method="post">
        <input type="text" name="name" placeholder="New Name">
        <input type="submit" value="Submit"/>
    </form>

    <br>


    <p th:text="'Owner:  ' + ${extension.getOwner()}"></p>
    <p th:text="'Version:  ' + ${extension.getVersion()}"></p>


    <span th:text="'Description:  ' + ${extension.getDescription()}"></span> <a class="editExtension" href="#"
                                                                                id="showEditDescription"><strong>Edit</strong></a><br>
    <form id="editDescriptionForm" th:action="'/user/edit-extension/descr/change/' + ${extension.getId()}"
          method="post">
        <textarea type="text" placeholder="Type in new description..." name="content" rows="5" cols="40"></textarea>
        <input type="submit" value="Submit"/>
    </form>

    <p th:text="'Downloads:  ' + ${extension.getNumberOfDownloads()}"></p>
    <span th:text="'Tags:  ' + ${extension.getTags()}"></span> <a class="editExtension" href="#"
                                                                  id="showEditTags"><strong>Edit</strong></a><br>
    <form id="editTagsForm" th:action="'/user/edit-extension/tag/change/' + ${extension.getId()}" method="post">
        <input type="text" name="content" placeholder="Type your tags with space...">
        <input type="submit" value="Submit"/>
    </form>

    <p th:text="'Uploaded on:  ' + ${extension.getUploadDate()}"></p>
    <p th:text="'Featured:  ' + ${extension.isItFeatured()}"></p>

    <p class="error" th:if="${extension.getUploadFile()} == null"> No File Upploaded</p>

    -->

</div>
</div>


</body>
<div th:replace="fragments :: scripts"></div>
</html>