<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>
</head>
<body>

<div class="header">
<h1>WELCOME TO EXTENSION MARKET</h1>
</div>

<h1 th:text="'EXTENSION  ' + ${extension.getName()}"></h1>
<hr>
<p th:text="'Owner:  ' + ${extension.getOwner()}"></p>
<p th:text="'Version:  ' + ${extension.getVersion()}"></p>
<p th:text="'Description:  ' + ${extension.getDescription()}"></p>
<p th:text="'Downloads:  ' + ${extension.getNumberOfDownloads()}"></p>

</body>
</html>