<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: header">
</div>

<div class="alignTextCenter">

<h1 th:text="${extension.getName()}"></h1>
<a href=""><img src="/pics/icons/ext_default.jpg" height="120"></a>
<br>

<p th:if="${extension.getUploadFile().getData() != null}"><a th:href="'/download/' + ${extension.getId()}"><button>Download Extension</button></a></p>
<p th:unless="${extension.getUploadFile().getData() != null}">NO FILE UPLOADED</p>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}"><button>ADMIN</button></a>

<div sec:authorize="hasRole('ROLE_USER')">
<a th:if="${#authentication.getPrincipal().getUsername()} == ${extension.getOwner()}" th:href="'/edit-extension/'+${extension.getId()}"><button>Edit Extension</button></a>
   <div th:unless="${#authentication.getPrincipal().getUsername()} == ${extension.getOwner()}">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/edit-extension/'+${extension.getId()}"><button>Edit Extension</button></a>
   </div>
</div>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:if="${extension.getFeatured() == 0}" th:href="'/admin/feature/'+${extension.getId()}">Feature this Extension<br></a>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:if="${extension.getFeatured() == 1}" th:href="'/admin/un-feature/'+${extension.getId()}">Unfeature this Extension<br></a>

<a th:href="@{/}">home</a>


<hr>
<p th:text="'Owner:  ' + ${extension.getOwner()}"></p>
<p th:text="'Version:  ' + ${extension.getVersion()}"></p>
<p th:text="'Description:  ' + ${extension.getDescription()}"></p>
<p th:text="'Downloads:  ' + ${extension.getNumberOfDownloads()}"></p>
<!-- <p th:text="'Tags:  ' + ${extension.getTags()}"></p> -->
Tags: <a th:each="TagForm : ${tags}"> <a th:text="${TagForm.getName()}" th:href="'/tags/searchByName/'+${TagForm.getNameNoHashTag()}"></a> </a>
<p th:text="'Uploaded on:  ' + ${extension.getUploadDate()}"></p>
<p th:text="'Featured:  ' + ${extension.isItFeatured()}"></p>
<hr>
<p><strong>GitHub Info: </strong></p>
<p th:text="'Open Issues: ' + ${extension.getGitExtensionInfo().getOpenIssues()}"></p>
<p th:text="'Pull Requests: ' + ${extension.getGitExtensionInfo().getPullRequests()}"></p>
<p th:text="'Last Commit Date: ' + ${extension.getGitExtensionInfo().getLastCommitDate()}"></p>


<p th:text="'Status:  ' + ${extension.isItApproved()}"></p>


</div>

</body>
</html>