<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>

<div class="header">
<h1>WELCOME TO EXTENSION MARKET</h1>
</div>

<p sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a> </p>
<p sec:authorize="isAuthenticated()">Welcome, <a th:href="@{/profile}"><span sec:authentication="name" /></a></p>

<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<br>

<p>Search Extensions:</p>


<form th:action="@{/search}" method="post">
<input type="text" placeholder="Search..">
    <input type="submit" value="Search" />
</form>

<div>

<hr>
<br><br>

<div class="inLine">


<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="#">Name</a>
    <a href="#">Downloads</a>
    <a href="#">Upload Date</a>
    <a href="#">Last Commit Date</a>
  </div>
</div>


<h2>FEATURED EXTENSIONS:</h2>
<table class="inLine">
   <div th:each="Extension : ${featured}">

       <a th:href="'/extension-details/'+${Extension.getName()}"><p th:text="${Extension.getName()}"></p></a>

   </div>
</table>

</div>


<div class="inLine">

<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="/sortby/popular name">Name</a>
    <a href="/sortby/popular downloads">Downloads</a>
    <a href="/sortby/popular upload">Upload Date</a>
    <a href="/sortby/popular lastCommitDate">Last Commit Date</a>
  </div>
</div>

<h2>POPULAR EXTENSIONS:</h2>
<table class="inLine">
        <div th:each="Extension : ${popular}">

        <a th:href="'/extension-details/'+${Extension.getName()}"><p th:text="${Extension.getName()}"></p></a>

        </div>
</table>
</div>

<div class="inLine">

<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="#">Name</a>
    <a href="#">Downloads</a>
    <a href="#">Upload Date</a>
    <a href="#">Last Commit Date</a>
  </div>
</div>

<h2>NEW EXTENSIONS:</h2>
<table class="inLine">
    <div th:each="Extension : ${newExt}">

    <a th:href="'/extension-details/'+${Extension.getName()}"><p th:text="${Extension.getName()}"></p></a>

    </div>
</table>
</div>

</div>

</body>
</html>