<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: head">

</head>
<body>

<div th:replace="fragments :: header">
</div>

<div class="alignTextCenter">

    <p>Search Extensions:</p>
    <form th:action="@{/search}" method="post">
        <input type="text" name="params" placeholder="Search..">
        <input type="submit" value="Search"/>
    </form>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 home-buttons">
            <a class="button button-primary" href="/featured">Featured</a>
            <a class="button button-neutral" href="/sortby/uploadDate">New</a>
            <a class="button button-neutral" href="/sortby/downloads">Popular</a>
        </div>
    </div>
</div>
<!--<div class="alignTextCenter">-->
<!--<div class="w3-dropdown-hover">-->
<!--<button class="w3-button">Sort By</button>-->
<!--<div class="w3-dropdown-content w3-bar-block w3-border">-->
<!--<a href="/sortby/name" class="w3-bar-item w3-button">Name</a>-->
<!--<a href="/sortby/uploadDate" class="w3-bar-item w3-button">Upload Date</a>-->
<!--<a href="/sortby/downloads" class="w3-bar-item w3-button">Downloads</a>-->
<!--<a href="/sortby/lastCommitDate" class="w3-bar-item w3-button">Commit Date</a>-->
<!--</div>-->
<!--</div>-->


<!--<a href="/featured">-->
<!--<button class="w3-button">Show Featured</button>-->
<!--</a>-->
<!--</div>-->


<div class="Features-section paddingTB60 ">
    <div class="container">
        <div class="row">

            <div th:each="Extension : ${allApproved}" class="col-sm-6 col-md-3">
                <a th:href="'/extension-details/'+${Extension.getId()}" class="link-block">
                    <div class="col-md-12 feature-box">
                        <div class="icon" th:if="${Extension.getUploadFile().getLogoData() == null}">
                            <img src="/pics/icons/MPIcon.png">
                        </div>
                        <div class="icon" th:unless="${Extension.getUploadFile().getLogoData() == null}">
                            <img th:src="*{'data:image/png;base64,'+Extension.getUploadFile().encodeLogoToString()}">
                        </div>
                        <h4 th:text="${Extension.getName()}"></h4>
                        <div class="row">
                            <div class="col-sm-6" th:text="${Extension.getOwner()}">
                            </div>
                            <div class="glyphicon glyphicon-download-alt col-sm-6"
                                 th:text=" ' ' + ${Extension.getNumberOfDownloads()}">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>