<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>
</head>
<body>
<div class="header">
<h1>WELCOME TO EXTENSION MARKET</h1>
</div>

<p sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a> </p>
<p sec:authorize="isAuthenticated()">Welcome, <a th:href="@{/profile}"><span sec:authentication="name" /></a></p>

<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<br>

<p>Search Extensions:</p>


<form th:action="@{/search}" method="post">
<input type="text" placeholder="Search..">
    <input type="submit" value="Search" />
</form>

<div>

<hr>
<br><br>

<div class="inLine">


<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="#">Name</a>
    <a href="#">Downloads</a>
    <a href="#">Upload Date</a>
    <a href="#">Last Commit Date</a>
  </div>
</div>


<h2>FEATURED EXTENSIONS:</h2>
<table class="inLine">
<th:block th:each="Extention : ${featured}">

    <tr>
        <td th:text="${Extention.getName()}">...</td>

    </tr>

</th:block>
</table>

</div>


<div class="inLine">

<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="#">Name</a>
    <a href="#">Downloads</a>
    <a href="#">Upload Date</a>
    <a href="#">Last Commit Date</a>
  </div>
</div>

<h2>POPULAR EXTENSIONS:</h2>
<table class="inLine">
    <th:block th:each="Extension : ${popular}">

        <tr>
            <td th:text="${Extension.getName()}">...</td>

        </tr>

    </th:block>
</table>
</div>

<div class="inLine">

<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="#">Name</a>
    <a href="#">Downloads</a>
    <a href="#">Upload Date</a>
    <a href="#">Last Commit Date</a>
  </div>
</div>

<h2>NEW EXTENSIONS:</h2>
<table class="inLine">
    <th:block th:each="Extention : ${newExt}">

        <tr>
            <td th:text="${Extention.getName()}">...</td>

        </tr>

    </th:block>
</table>
</div>

</div>

</body>
</html>