<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>
<div class="header">
    <h1>WELCOME TO EXTENSION MARKET</h1>
</div>

<h1>USER PAGE</h1>
Name: <span sec:authentication="name" />

<a th:href="@{/}"><button>HOME</button></a>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}"><button>ADMIN</button></a>

<p><a th:href="@{/user/create-extension}">Create extension</a></p>

<br>
<h2>Current extensions:</h2>


<div th:each="Extension : ${extensions}">
<br>
<a th:href="'/extension-details/'+${Extension.getName()}"><p th:text="${Extension.getName()}"></p> </a>
<p th:text="' status: ' + ${Extension.isItApproved()}"></p>

</div>

</body>
</html>