<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header">
</div>

<div class="alignTextCenter">

<h1>USER PAGE</h1>

<a href=""><img src="/pics/icons/user_default.png" height="120"></a>
<br>

Name: <span sec:authentication="name" />
<br>

<a th:href="@{/}"><button>HOME</button></a>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}"><button>ADMIN</button></a>
<br>

<p><a th:href="@{/user/create-extension}">Create extension</a></p>

<br>
<h2>Current extensions:</h2>


<div th:each="Extension : ${extensions}">
<br>
<a th:href="'/extension-details/'+${Extension.getName()}"><p th:text="${Extension.getName()}"></p> </a>
<p th:text="' status: ' + ${Extension.isItApproved()}"></p>

</div>

</div>

</body>
</html>