<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div th:replace="fragments :: header">
</div>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1><span sec:authentication="name"/></h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->

            <div class="text-center">
                <div th:if="${image == null}" class="profilePic">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                         alt="avatar">
                </div>
                <div th:unless="${image == null}" class="profilePic">
                    <img th:src="*{'data:image/png;base64,'+image}" class="avatar img-circle img-thumbnail" alt="">
                </div>

            </div>
            </hr><br>

            <div class="panel panel-default">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><a href="http://bootnipets.com">https://www.telerikacademy.com/</a></div>
            </div>


            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>

            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <div class="SMLinks">
                        <a href="https://www.facebook.com/">
                            <img src="/pics/icons/if_facebook_3009513.png">
                        </a>
                        <a href="https://www.twitter.com/">
                            <img src="/pics/icons/if_twitter_3009565.png">
                        </a>
                        <a href="https://www.linkedin.com/">
                            <img src="/pics/icons/if_linkedin_3009543.png">
                        </a>
                    </div>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#myExtensions">My Extensions</a></li>
                <li><a data-toggle="tab" href="#edit">Edit Profile</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane" id="edit">
                    <hr>
                    <form class="form" th:action="@{/user/changePic}" enctype="multipart/form-data" method="post"
                          id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label><h4>First name</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label><h4>Last name</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label><h4>Avatar</h4></label>
                                <div class="input-group">

                                    <input type="text" class="form-control file-upload-text" disabled
                                           placeholder="select image..."/>
                                    <span class="input-group-btn">
                                <button type="button" class="btn btn-warning file-upload-btn">
                                    Browse...
                                <input type="file" class="file-upload" name="fileUpload"/>
                                </button>
                            </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label><h4>Phone Number</h4></label>
                                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label><h4>Email</h4></label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label><h4>Location</h4></label>
                                <input type="text" class="form-control" id="location">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password"><h4>Password</h4></label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password2"><h4>Verify password</h4></label>
                                <input type="password" class="form-control" name="password2" id="password2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save
                                </button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset
                                </button>
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->

                <div class="tab-pane active" id="myExtensions">

                    <hr>
                    <div class="row">

                        <div th:each="Extension : ${extensions}" class="col-sm-6 col-md-3">
                            <a th:href="'/extension-details/'+${Extension.getId()}" class="link-block">
                                <div class="col-md-12 feature-box">
                                    <div class="icon"
                                         th:if="${Extension.getUploadFile().getLogoData() == null}">
                                        <img src="/pics/icons/MPIcon.png">
                                    </div>
                                    <div class="icon"
                                         th:unless="${Extension.getUploadFile().getLogoData() == null}">
                                        <img th:src="*{'data:image/png;base64,'+Extension.getUploadFile().encodeLogoToString()}">
                                    </div>
                                    <h4 th:text="${Extension.getName()}"></h4>
                                    <div class="row">
                                        <div class="col-sm-6" th:text="${Extension.getOwner()}">
                                        </div>
                                        <div class="glyphicon glyphicon-download-alt col-sm-6"
                                             th:text=" ' ' + ${Extension.getNumberOfDownloads()}">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <hr>
                </div>

            </div>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/uploadFile.js"></script>
</body>
</html>
