<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: head">
</head>
<body>



<div th:replace="fragments :: header">
</div>

<h1 class="alignTextCenter">Tag Palace</h1>
<a th:href="@{/}">home</a>
<div class="alignTextCenter">

<p>Search for Tags:</p>
<form th:action="@{/search}" method="post">
<input type="text" name="params" placeholder="Search..">
    <input type="submit" value="Search" />
</form>
</div>

<p class="tag-name"></p>
<p class="tag-owner"></p>
<hr>

<div class="alignTextCenter">

<h2 th:text="'Extensions marked by ' + ${Tag.getName()}">Extensions marked by</h2>

<div th:each="Extension : ${extensions}" class="col-lg-4 col-sm-4">

            <div class="circular">
                <a th:href="'/extension-details/'+${Extension.getId()}">
                                     <img src="/pics/icons/ext_default.jpg" width="25%">
                                     <h4 th:text="${Extension.getName()}"></h4>
                                     </a>

            </div>

</div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="hello.js"></script>
</body>
</html>