<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: header">
</div>

<div align="center">

        <h1>File Upload</h1>
        <p>Please have in mind, the extension will not be published untill approved by an administrator.</p>
        <p th:text="'Please attach the file for ' + ${extensionForm.getName()} + ' extension.'"></p>
        <form method="post" th:action="'/doUpload/' + ${extensionForm.getName()}" enctype="multipart/form-data">
            <table border="0">
                <tr>
                    <td>Pick file #1:</td>
                    <td><input type="file" name="fileUpload" size="50" /></td>
                </tr>
                <!-- <tr>
                    <td>Pick file #2:</td>
                    <td><input type="file" name="fileUpload" size="50" /></td>
                </tr> -->
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Upload" /></td>
                </tr>
            </table>
        </form>
    </div>

   <a th:href="@{/}"><button>Upload Later</button></a>

</body>
</html>